body
{
    font-family: Arial, sans-serif;
}

.page
{
    padding: 0 50px 50px 50px;
}

.controls
{
    margin: 1em 0;
}

.result
{
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

.result__textarea
{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.rules
{
    margin-bottom: 10em;
    border-collapse: collapse;
}

.rules th,
.rules td
{
    padding: 0.2em 0.5em;
}

.rules__num
{
    text-align: right;
}

.rules__name,
.rules__title
{
    text-align: left;
}

.rules__row_checked td
{
    background: #f0f0f0;
}

.rules tr:hover td
{
    background: #fafafa;
}

