#root
{
    padding: 0 50px 50px 50px;
}

.controls
{
    margin: 1em 0;
}

.controls__langs
{
    float: right;
}

.result
{
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

.result__textarea
{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.rules
{
    margin-bottom: 10em;
    border-collapse: collapse;
    width: 100%;
}

.rules th,
.rules td
{
    padding: 0.2em 0.5em;
}

.rules thead th
{
    background: #e0e0e0;
}

.rules__num
{
    text-align: right;
    width: 2em;
}

.rules__control
{
    width: 1em;
}

.rules__name
{
    width: 30%;
}

.rules__name,
.rules__title
{
    text-align: left;
}

.rules__name-filter,
.rules__title-filter
{
    display: block;
}

.rules__row_checked td
{
    background: #f0f0f0;
}

.rules__row_hidden
{
    display: none;
}

.rules tr:hover td
{
    background: #fafaea;
}
